//Cor de Fundo 
$corDeFundo: #040714;
$corDeFundoBotaoPrimario: #6421ff;
$corDeFundoBotaoSecundario: #0063e5;
$corDeFundoBotaoDark: #000;

// Cor de texto
$corTextoPrincipal: silver;
$corTextoSecundario:#f9f9f9;